page-unit-hc-table-frz {
  .scroll-content {
    overflow: hidden;
  }
  .unit-hc-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px;
    .unit-hc-title{
      font-size: px(64);
      font-weight: bold;
      height: 50px;
      margin: 0;
    }
    .unit-hc-table-wrap{
      width: 100%;
      height: calc(100% - 50px);
      overflow: auto;
      .unit-hc-table{
        border: 1px solid color($colors,tableColor);
        table-layout: fixed;
        font-size: px(50);
        thead{
          background: #f2f5fa;
        }
        th{
          color: color($colors,textMainColor);
          padding: 5px;
          white-space: nowrap;
          &.num{
            max-width: 60px;
          }
          &.name{
            min-width: 80px;
            max-width: 90px;
          }
          &.idno{
            min-width: 150px;
          }
          &.unit{
            min-width: 260px;
          }
          &.item{
            min-width: 160px;
          }
          &.date{
            min-width: 150px;
          }
        }
        td{
          padding: 5px;
          text-align: center;
          // white-space: nowrap;
        }
      }
    }
  }
}
