page-unit-zh-search-result {
    .searchCondition {
        font-weight: normal;
        display: flex;
        .p {
            font-size: px(60);
            color: #8e8e93;
            white-space: normal;
            span {
                color: #4e79d4;
            }
        }
        i {
            font-style: normal;
        }
    }
    ion-navbar {
        height: 80px;
        .toolbar-title {
            color: #ffe487;
            font-size: 25px;
        }
        .button-inner {
            color: #ffe487;
            font-size: 25px;
            padding-right: 10px;
            .back-button-icon {
                font-size: 35px;
                padding-left: 10px;
            }
        }
        .toolbar-background {
            background-color: #c9161f;
        }
        
    }
    ion-list {
        margin: 0;
        padding: 0;
        margin-top: 0px !important; 
        .item { 
            padding-left: 0;
            font-size: px(60);
            color: #000000;            
            ion-label {
                white-space: normal;
            }
            .label {
                margin: 18px 8px 23px 0;
            }
         }        
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        background-image: none;
    }
}
