page-home {
  .home-wrapper {
    display: flex;
    height: 100%;
    .home-left {
      flex: 0 0 px(1000);
      width: px(1000);
      padding: px(100);
      background: #c9161f;
      .party {
        width: 100%;
        text-align: center;
        margin-bottom: px(74);
        img {
          width: px(192);
          margin: 0 auto;
        }
      }
      .title {
        color: #ffe487;
        font-size: px(68);
        text-align: center;
        margin-bottom: px(104);
      }
      .searcher {
        margin-bottom: px(120);
        .babb{
          font-size: px(78);
          margin-right: px(38);
        }
      }
      button {
        background-color: #b20309;
        color: #ffe487;
        box-shadow: initial;
        margin: px(30) 0;
        height: px(150);
        width: px(800);
        border: px(1) solid #ffe487;
        border-radius: px(10);
        font-size: px(64);
      }
    }
    .home-right {
      flex:1;
      overflow: auto;
      background-color: #f6f1ea;
      padding: px(200);
      ul.tree {
        margin: 0;
        padding: 0;
        list-style: none;
        margin: 0 auto;
        & * {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        li {
          a {
            font-size: px(64);
            display: flex;
            align-items: center;
            color: #c9161f;
            padding: px(36) 0;
            span {
              flex-grow: 1;
              padding: 0 px(30);
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
            }
            .babb{
              display: inline-block;
              font-size: 35px;
            }
          }
          .child-tree{
            a{
              padding: px(20) 0;
              color:#824548;
              .babb{
                display: inline-block;
                font-size: 26px;
                color:#606060;
              }
            }
          }
        }
        ul {
          padding-left: px(118);
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .home-left {
      width: px(660) !important;
      padding: px(30) !important;
      button {
        margin: px(15) 0 !important;
        width: px(600) !important;
      }
    }
    .home-right {
      ul.tree {
        width: px(740) !important;
      }
    }
  }
}
