<div class="table-wrapper" avoid-super-tabs="true">
  <p>机关单位领导职数情况表</p>
  <table class="officeLeaderTable">
    <thead>
      <tr>
        <th rowspan="2" colspan="2"></th>
        <th rowspan="2">总职数</th>
        <th [attr.colspan]="jgUnitLeaderCountList.length">单位领导职数</th>
        <th [attr.colspan]="jgOrgLeaderCountList.length">内下设机构领导职数</th>
      </tr>
      <tr>
        <th *ngFor="let item of jgUnitLeaderCountList">{{item.duteLevelName}}</th>
        <th *ngFor="let item of jgOrgLeaderCountList">{{item.duteLevelName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="3">合计</td>
        <td>核定数</td>
        <td>{{jgLeaderSum.hjCurCount?jgLeaderSum.hjCurCount:0}}</td>
        <td *ngFor="let item of jgUnitLeaderCountList">{{item.hjCurCount?item.hjCurCount:0}}</td>
        <td *ngFor="let item of jgOrgLeaderCountList">{{item.hjCurCount?item.hjCurCount:0}}</td>
      </tr>
      <tr>
        <td>实有数</td>
        <td>{{jgLeaderSum.hjInfactCount?jgLeaderSum.hjInfactCount:0}}</td>
        <td *ngFor="let item of jgUnitLeaderCountList">{{item.hjInfactCount?item.hjInfactCount:0}}</td>
        <td *ngFor="let item of jgOrgLeaderCountList">{{item.hjInfactCount?item.hjInfactCount:0}}</td>
      </tr>
      <tr>
        <td>空缺数</td>
        <td>{{jgLeaderSum.hjFreeCount?jgLeaderSum.hjFreeCount:0}}</td>
        <td *ngFor="let item of jgUnitLeaderCountList">{{item.hjFreeCount?item.hjFreeCount:0}}</td>
        <td *ngFor="let item of jgOrgLeaderCountList">{{item.hjFreeCount?item.hjFreeCount:0}}</td>
      </tr>

      <tr>
        <td rowspan="3">区直</td>
        <td>核定数</td>
        <td>{{jgLeaderSum.qzCurCount?jgLeaderSum.qzCurCount:0}}</td>
        <td *ngFor="let item of jgUnitLeaderCountList">{{item.qzCurCount?item.qzCurCount:0}}</td>
        <td *ngFor="let item of jgOrgLeaderCountList">{{item.qzCurCount?item.qzCurCount:0}}</td>
      </tr>
      <tr>
        <td>实有数</td>
        <td>{{jgLeaderSum.qzInfactCount?jgLeaderSum.qzInfactCount:0}}</td>
        <td *ngFor="let item of jgUnitLeaderCountList">{{item.qzInfactCount?item.qzInfactCount:0}}</td>
        <td *ngFor="let item of jgOrgLeaderCountList">{{item.qzInfactCount?item.qzInfactCount:0}}</td>
      </tr>
      <tr>
        <td>空缺数</td>
        <td>{{jgLeaderSum.qzFreeCount?jgLeaderSum.qzFreeCount:0}}</td>
        <td *ngFor="let item of jgUnitLeaderCountList">{{item.qzFreeCount?item.qzFreeCount:0}}</td>
        <td *ngFor="let item of jgOrgLeaderCountList">{{item.qzFreeCount?item.qzFreeCount:0}}</td>
      </tr>

      <tr>
        <td rowspan="3">街道</td>
        <td>核定数</td>
        <td>{{jgLeaderSum.jdCurCount?jgLeaderSum.jdCurCount:0}}</td>
        <td *ngFor="let item of jgUnitLeaderCountList">{{item.jdCurCount?item.jdCurCount:0}}</td>
        <td *ngFor="let item of jgOrgLeaderCountList">{{item.jdCurCount?item.jdCurCount:0}}</td>
      </tr>
      <tr>
        <td>实有数</td>
        <td>{{jgLeaderSum.jdInfactCount?jgLeaderSum.jdInfactCount:0}}</td>
        <td *ngFor="let item of jgUnitLeaderCountList">{{item.jdInfactCount?item.jdInfactCount:0}}</td>
        <td *ngFor="let item of jgOrgLeaderCountList">{{item.jdInfactCount?item.jdInfactCount:0}}</td>
      </tr>
      <tr>
        <td>空缺数</td>
        <td>{{jgLeaderSum.jdFreeCount?jgLeaderSum.jdFreeCount:0}}</td>
        <td *ngFor="let item of jgUnitLeaderCountList">{{item.jdFreeCount?item.jdFreeCount:0}}</td>
        <td *ngFor="let item of jgOrgLeaderCountList">{{item.jdFreeCount?item.jdFreeCount:0}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="table-wrapper" avoid-super-tabs="true">
  <p>事业单位领导职数情况表</p>
  <table class="officeLeaderTable">
    <thead>
      <tr>
        <th rowspan="2" colspan="2"></th>
        <th rowspan="2">总职数</th>
        <th [attr.colspan]="syUnitLeaderCountList.length">单位领导职数</th>
        <th [attr.colspan]="syOrgLeaderCountList.length">内下设机构领导职数</th>
      </tr>
      <tr>
        <th *ngFor="let item of syUnitLeaderCountList">{{item.duteLevelName}}</th>
        <th *ngFor="let item of syOrgLeaderCountList">{{item.duteLevelName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="3">合计</td>
        <td>核定数</td>
        <td>{{syLeaderSum.hjCurCount?syLeaderSum.hjCurCount:0}}</td>
        <td *ngFor="let item of syUnitLeaderCountList">{{item.hjCurCount?item.hjCurCount:0}}</td>
        <td *ngFor="let item of syOrgLeaderCountList">{{item.hjCurCount?item.hjCurCount:0}}</td>
      </tr>
      <tr>
        <td>实有数</td>
        <td>{{syLeaderSum.hjInfactCount?syLeaderSum.hjInfactCount:0}}</td>
        <td *ngFor="let item of syUnitLeaderCountList">{{item.hjInfactCount?item.hjInfactCount:0}}</td>
        <td *ngFor="let item of syOrgLeaderCountList">{{item.hjInfactCount?item.hjInfactCount:0}}</td>
      </tr>
      <tr>
        <td>空缺数</td>
        <td>{{syLeaderSum.hjFreeCount?syLeaderSum.hjFreeCount:0}}</td>
        <td *ngFor="let item of syUnitLeaderCountList">{{item.hjFreeCount?item.hjFreeCount:0}}</td>
        <td *ngFor="let item of syOrgLeaderCountList">{{item.hjFreeCount?item.hjFreeCount:0}}</td>
      </tr>

      <tr>
        <td rowspan="3">区直</td>
        <td>核定数</td>
        <td>{{syLeaderSum.qzCurCount?syLeaderSum.qzCurCount:0}}</td>
        <td *ngFor="let item of syUnitLeaderCountList">{{item.qzCurCount?item.qzCurCount:0}}</td>
        <td *ngFor="let item of syOrgLeaderCountList">{{item.qzCurCount?item.qzCurCount:0}}</td>
      </tr>
      <tr>
        <td>实有数</td>
        <td>{{syLeaderSum.qzInfactCount?syLeaderSum.qzInfactCount:0}}</td>
        <td *ngFor="let item of syUnitLeaderCountList">{{item.qzInfactCount?item.qzInfactCount:0}}</td>
        <td *ngFor="let item of syOrgLeaderCountList">{{item.qzInfactCount?item.qzInfactCount:0}}</td>
      </tr>
      <tr>
        <td>空缺数</td>
        <td>{{syLeaderSum.qzFreeCount?syLeaderSum.qzFreeCount:0}}</td>
        <td *ngFor="let item of syUnitLeaderCountList">{{item.qzFreeCount?item.qzFreeCount:0}}</td>
        <td *ngFor="let item of syOrgLeaderCountList">{{item.qzFreeCount?item.qzFreeCount:0}}</td>
      </tr>

      <tr>
        <td rowspan="3">街道</td>
        <td>核定数</td>
        <td>{{syLeaderSum.jdCurCount?syLeaderSum.jdCurCount:0}}</td>
        <td *ngFor="let item of syUnitLeaderCountList">{{item.jdCurCount?item.jdCurCount:0}}</td>
        <td *ngFor="let item of syOrgLeaderCountList">{{item.jdCurCount?item.jdCurCount:0}}</td>
      </tr>
      <tr>
        <td>实有数</td>
        <td>{{syLeaderSum.jdInfactCount?syLeaderSum.jdInfactCount:0}}</td>
        <td *ngFor="let item of syUnitLeaderCountList">{{item.jdInfactCount?item.jdInfactCount:0}}</td>
        <td *ngFor="let item of syOrgLeaderCountList">{{item.jdInfactCount?item.jdInfactCount:0}}</td>
      </tr>
      <tr>
        <td>空缺数</td>
        <td>{{syLeaderSum.jdFreeCount?syLeaderSum.jdFreeCount:0}}</td>
        <td *ngFor="let item of syUnitLeaderCountList">{{item.jdFreeCount?item.jdFreeCount:0}}</td>
        <td *ngFor="let item of syOrgLeaderCountList">{{item.jdFreeCount?item.jdFreeCount:0}}</td>
      </tr>
    </tbody>
  </table>
</div>
