<ion-header no-border>
  <ion-navbar>
    <ion-title>密码修改</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="userForm">
    <ion-list>
      <ion-item>
        <ion-label>旧密码:</ion-label>
        <ion-input type="password" value="" formControlName="password" placeholder="请输入旧密码" (ionBlur)="blurInputPw()" (ionFocus)="focusInputPw()"></ion-input>
      </ion-item>
      <span class="error" *ngIf="oldPasswordFlag">旧密码输入错误</span>
      <ion-item>
        <ion-label>新密码:</ion-label>
        <ion-input type="password" value="" formControlName="password1" placeholder="请输入新密码(6-12)位" (ionBlur)="blurInputPw1()" (ionFocus)="focusInputPw1()"></ion-input>
      </ion-item>
      <span class="error" *ngIf="newPasswordFlag">新密码不能与旧密码一致</span>
      <span class="error" *ngIf="newPasswordLenFlag">请输入6-12位</span>
    </ion-list>
    <button class="post-button" ion-button block (click)="onClickModify()" [disabled]="userForm.invalid || userForm.controls['password'].value == userForm.controls['password1'].value">修改</button>
  </form>
</ion-content>
