<ion-header>
  <ion-navbar hideBackButton="true">
    <div class="inputCon">
      <i class="babb ion-md-sousuo"></i>
      <ion-searchbar type="text" [(ngModel)]="key" (ionInput)="search()" placeholder="请输入单位名称"></ion-searchbar>
      <button ion-button clear (click)="goBack()" float-right>取消</button>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list inset>
    <div *ngIf="!key">
      <ion-item><p class="his">历史记录<span *ngIf="!(storage.historyUnitList&&storage.historyUnitList.length)">(无历史记录)</span></p></ion-item>
      <ion-item-sliding *ngFor="let item of storage.historyUnitList; let index = index">
        <ion-item (click)="onClickUnit(item)"><p [innerHTML]="item.unitName | highLight:key"></p></ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="delectItem(index)">
            删除
          </button>
        </ion-item-options>
      </ion-item-sliding> 
      <div *ngIf="storage.historyUnitList.length" class="clearStorage">
        <span (click)="clearStorage()">清空</span>
      </div>
    </div>
    <div *ngIf="key">
      <ion-item *ngFor="let item of unitList" (click)="onClickUnit(item)"><p [innerHTML]="item.unitName | highLight:key"></p></ion-item>
    </div>
    
  </ion-list>
  <div class="notFound" *ngIf="key && !(unitList&&unitList.length)">找不到相关单位</div>
</ion-content>
