page-unit-search {
    ion-header {
        .searchbar-search-icon {
            display: none;
        }
        height: 80px;
        width: 100%;
        ion-navbar.toolbar{
            height: 100%;
            width: 100%;
            // background-color: #c9161f;
        }
        .inputCon {
            display: flex;
            margin-left: 10px;
            .searchbar {
                padding: 0;
            }
            .searchbar-input-container{
                // height: 100%;
                .searchbar-input {
                    padding-left: px(131);
                    // height: 100%;
                    height: px(120);
                    background: #ffffff;
                    font-size: px(60);
                }

            }
            .babb {
                position: absolute;
                font-size: px(78);
                z-index: 1000;
                color: #7a7a80;
                top: 50%;
                margin-top: px(-19);
                left: px(75);
            }
            button {
                font-size: px(60);
                color: #ffe487;
            }
        }
        .toolbar-background {
            background-color: #c9161f;
        }
    }
    ion-list {
        &.list {
            margin: 0 !important;
            .item {
                padding-left: 0;
                font-size: 20px;
                ion-label {
                    white-space: normal;
                }
                .button-inner {
                    font-size: 20px;
                    color: #c9161f;
                }
            }
            .item p {
                color: #000;
                font-size: px(60);
            }
            .item .his {
                font-weight: normal;
                color: #7a7a80;
            }

        }
        .backSeeUnitList {
            color: #c9161f;
        }
    }
    .notFound {
        width: 100%;
        text-align: center;
        margin-top: 250px;
        font-size: 25px;
    }
}
