page-unit-hc-table {
  background: #ffffff;
  overflow: auto;
  .unit-hc-wrap{
    width: 100%;
    padding: px(44);
    .unit-hc-title{
      font-size: px(64);
      font-weight: bold;
      margin: 0 0 px(44) 0;
    }
    .unit-hc-tips{
      font-size: px(64);
    }
    .unit-hc-table-wrap{
      width: 100%;
      overflow-x: auto;
      .unit-hc-table{
        border: 1px solid color($colors,tableColor);
        table-layout: fixed;
        &.complex-table{
          th{
            height: px(128);
          }
        }
        &.bianzhi-table{
          td{
            min-width: px(250);
          }
        }
        thead{
          background: #f2f5fa;
        }
        th{
          color: color($colors,textMainColor);
          font-size: px(58);
          height: px(220);
          padding: 0 px(25);
          font-weight: normal;
        }
        td{
          font-size: px(58);
          height: px(150);
          padding: 0 px(25);
          text-align: center;
          &.detail{
            color: #009cff;

            .button{
              border-color: #009cff;
              color: #009cff;
              margin: 0;
              height: px(60);
              line-height: px(60);
              width: px(120);
              font-size: px(36);
              vertical-align: middle;
            }
          }
        }
      }
    }

  }
}
