<div class="separate"></div>
<div class="unit-hc-wrap">
  <h2 class="unit-hc-title">{{name}}编制情况表</h2>
  <p class="unit-hc-tips" *ngIf="hcList.length <= 1">{{name}}暂未下达编制信息</p>
  <div class="unit-hc-table-wrap" [attr.avoid-super-tabs]="aviodSuperJudge(hcTableWrap)" #hcTableWrap>
    <table class="unit-hc-table" border="1" *ngIf="hcList.length > 1">
      <thead>
        <tr>
          <th class="table-title"></th>
          <th *ngFor="let hc of hcList">
            {{hc.hcName}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-title">核定数</td>
          <td *ngFor="let hc of hcList">
            {{hc.curCount}}
          </td>
        </tr>
        <tr>
          <td class="table-title">锁定数</td>
          <td *ngFor="let hc of hcList">
            {{hc.curLockCount}}
          </td>
        </tr>
        <tr>
          <td class="table-title">实有数</td>
          <td [class.detail]="hc.infactCount>0" *ngFor="let hc of hcList" (click)="hc.infactCount>0 && onClickInfact(hc)">
            {{hc.infactCount}}<br><button ion-button outline *ngIf="hc.infactCount>0">详情</button>
          </td>
        </tr>
        <tr>
          <td class="table-title">冻结数</td>
          <td [class.detail]="hc.frzCount>0" *ngFor="let hc of hcList" (click)="hc.frzCount>0 && onClickFrz(hc)">
            {{hc.frzCount}}<br><button ion-button outline *ngIf="hc.frzCount>0">详情</button>
          </td>
        </tr>
        <tr>
          <td class="table-title">空编数</td>
          <td *ngFor="let hc of hcList" [innerHTML]="(hc.freeCount?hc.freeCount:0) | redMinus">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
