<div class="main-wrapper">
  <div class="table-wrapper" avoid-super-tabs="true" #disTable>
    <table class="officeLeaderTable">
      <thead>
        <tr>
          <th colspan="2">&nbsp;</th>
          <th *ngFor="let data of dataList">{{data.hcName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="5" class="table-title">合计</td>
          <td class="table-title">核定数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.hjCurCount?data.hjCurCount:0) | redMinus"></td>
        </tr>
        <tr>
          <td class="table-title">锁定数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.hjCurLockCount?data.hjCurLockCount:0) | redMinus"></td>
        </tr>
        <tr>
          <td class="table-title">实有数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.hjInfactCount?data.hjInfactCount:0) | redMinus"></td>
        </tr>
        <tr>
          <td class="table-title">冻结数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.hjFrzCount?data.hjFrzCount:0) | redMinus"></td>
        </tr>
        <tr>
          <td class="table-title">空编数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.hjFreeCount?data.hjFreeCount:0) | redMinus"></td>
        </tr>

        <tr>
          <td class="table-title" rowspan="5">区直</td>
          <td class="table-title">核定数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.qzCurCount?data.qzCurCount:0) | redMinus"></td>
        </tr>
        <tr>
          <td class="table-title">锁定数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.qzCurLockCount?data.qzCurLockCount:0) | redMinus"></td>
        </tr>
        <tr>
          <td class="table-title">实有数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.qzInfactCount?data.qzInfactCount:0) | redMinus"></td>
        </tr>
        <tr>
          <td class="table-title">冻结数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.qzFrzCount?data.qzFrzCount:0) | redMinus"></td>
        </tr>
        <tr>
          <td class="table-title">空编数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.qzFreeCount?data.qzFreeCount:0) | redMinus"></td>
        </tr>

        <tr>
          <td class="table-title" rowspan="5">街道</td>
          <td class="table-title">核定数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.jdCurCount?data.jdCurCount:0) | redMinus"></td>
        </tr>
        <tr>
          <td class="table-title">锁定数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.jdCurLockCount?data.jdCurLockCount:0) | redMinus"></td>
        </tr>
        <tr>
          <td class="table-title">实有数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.jdInfactCount?data.jdInfactCount:0) | redMinus"></td>
        </tr>
        <tr>
          <td class="table-title">冻结数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.jdFrzCurCount?data.jdFrzCurCount:0) | redMinus"></td>
        </tr>
        <tr>
          <td class="table-title">空编数</td>
          <td *ngFor="let data of dataList" [innerHTML]="(data.jdFreeCount?data.jdFreeCount:0) | redMinus"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
