page-unit-funtion {
  .scroll-content{
    padding: px(44);
  }
  .unit-function-title{
    font-size: px(64);
    font-weight: bold;
    margin-bottom: px(68);
    text-align: center;
  }
  .unit-function{
    font-size: px(64);
    text-indent:2em
  }
  .unit-tip{
    font-size: px(64);
  }
}
