<!--
  Generated template for the UnitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>{{unitName}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onClickHome()">
        <ion-icon name="md-shouye1"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
  <h2 class="unit-function-title">主要职能</h2>
  <p class="unit-function" *ngIf="unitFunction!=null">{{unitFunction}}</p>
  <p class="unit-tip" *ngIf="unitFunction==null && type==1">该单位暂未采集职能信息</p>
  <p class="unit-tip" *ngIf="unitFunction==null && type==2">该内设机构暂未采集职能信息</p>
</ion-content>
