<ion-header>

  <ion-navbar>
    <ion-title>综合查询</ion-title>
    <ion-buttons right>
      <button ion-button (click)="onClickHome()">
        <ion-icon name="md-shouye1"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list inset>
    <ion-item class="unitName">
      <p>单位名称</p>
      <i class="babb ion-md-sousuo"></i>
      <ion-searchbar [(ngModel)]="key" placeholder=""></ion-searchbar>
    </ion-item>
    <div *ngFor="let item of dataList">
      <ion-item *ngIf="item.detail&&item.detail.length">
        <p>{{ item.title }}</p>
        <ul>
          <li *ngFor="let liData of item.detail" (click)="getItem(liData)" [class.changeBC]="liData.isSelected" [hidden]="liData.dicItemCode==null">{{ liData.dicItemName }}</li>
        </ul>
        <div *ngIf="item.title=='编制类别'">
          <p class="secP">编制核定数范围</p>
          <div class="inputCon">
            <input type="number" [(ngModel)]="smallNum">
            <span>一</span>
            <input type="number" [(ngModel)]="bigNum">
          </div>
        </div>
      </ion-item>
    </div>

    <div class="bottomBlank"></div>

  </ion-list>
  <ion-buttons class="twoBtn">
    <button ion-button class="reset" (click)="reset()">重　 置</button>
    <button ion-button class="searchBtn" (click)="toResult()">查 　询</button>
  </ion-buttons>

</ion-content>
